.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.workMainContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.groupButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
