// Home page
.layout {
  min-height: 100vh !important;
}

.header {
  display: flex;
  align-items: center;
  background: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.menu {
  flex: 1;
  justify-content: flex-end;
  background-color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ant-color-bg-container);
  background: #fff;
}

.container {
  max-width: 1600px;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: var(--ant-border-radius-lg);
  background: #fff;
}

.mainTitle {
  margin-bottom: 8px;
  text-align: left;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.subtitle {
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  margin: 0 auto;
}

.description {
  text-align: left;
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 24px;
  margin-bottom: 24px;
}

.projectTitle {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.name,
.js {
  color: #1677ff;
}

.footer {
  text-align: center;
  background: #f0f2f5;
  padding: 12px;
  background-color: #fff;
}

.informationBlock {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 56px;
  display: block;
}

.contentPadding {
  padding: 0px 24px 0px 24px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
